@charset "utf-8";

/* 공통사용 외부CSS 파일합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 구현중 외곽선 표시 */
body *{

    border: 1px dashed gray;
}

.main_cont{
    /* background : 색이반고윙/크 */
    background: url(../images/배경.jpg) no-repeat scroll center/100%;
    padding: 5%;
}


/* 2-1. 캐릭터 */

#cha_box{
    width: 100%;
    
    margin-top: 30%;
}


.cha{
    float: left;
    text-align: center;
    /* vertical-align: bottom; */
    width: 30%;
    
}
#cha_box::after {
    content: "";
    display: block;
    clear: both;
  }

.cha1 img{
    width: 50%;
    margin-top: 2%
}
.cha2 img{
    width:32%;
}
.cha3 img{
    width: 70%;
    padding-top: 12%;
}

.cha1 img:last-child{
    display: none;
}

.cha span{
/* 블록으로 변경 - 부모박스 끝까지 차지 */
display: block;
/* 인라인요소 중앙정렬 */
text-align: center;
}
.cha span:hover img:last-child{
    display: block;
    transition : 1s;
}
.cha span:hover img:first-child{
    display: none;
    transition : 1s;
}

/* 말풍선 */
.balloon{
    position: relative;
    background: skyblue;
    margin: 50px;
    width: 200px;
    padding: 10px;
    /* border: 1px solid #f2f4f9; */
    border-radius: 10px;
    display: none;
}

.balloon:after {
    content: "";
    position: absolute;
    border-top: 20px solid skyblue;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 0px solid skyblue;
    top: 100px;
    left: 93px;
}

.cha a:hover .balloon{
    display: block;
} 

.balloon b{
    font-size: 15px;
}