@charset "utf-8";

/* 공통사용 외부CSS 파일합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 구현중 외곽선 표시 */
body *{

   /* border: 1px dashed gray;*/
}
.main_cont{
    /* background : 색이반고윙/크 */
    background: url(../images/배경.jpg) no-repeat scroll top/cover;
    padding: 4%;
}


/* 2-1. 캐릭터 */

#cha_box{
    
    width: 100%;
    margin-top: 30%;
}


.cha{
    position: relative;
    float: left;
    text-align: center;
    /* vertical-align: bottom; */
    width: 30%;
    
}
#cha_box::after {
    content: "";
    display: block;
    clear: both;
  }

  .cha span{
    /* position: relative; */
  /* 블록으로 변경 - 부모박스 끝까지 차지 */
  /* display: block; */
  /* 인라인요소 중앙정렬 */
  text-align: center;
 }
.cha1 img{
    width: 50%;
    margin-top: 2%
}
.cha2 img{
    width:32%;
}
.cha3 img{
    width: 70%;
    padding-top: 12%;
}

.cha img:last-of-type{
    display: none;
}

.cha span:hover img:last-of-type{
    display: inline;
}
.cha span:hover img:first-of-type{
    display: none;
    /* transition : 1s; */
}

/* 말풍선 */
.balloon{
    position: absolute;
    /* bottom: 309px; */
    top: -200px;
    left: 10%;
    background: rgba(252, 252, 255, 0.697);
    margin: 2rem;
    width: 20rem;
    height: 7rem;
    padding: 2rem;
    
    /* border: 1px solid #f2f4f9; */
    border-radius: 50px;
    /* display: none; */
    /* opacity: 0; */
    /* transition: opacity 1s ease-in; */
    display: none;
}

.balloon:after {
    content: "";
    position: absolute;
    border-top: 20px solid rgba(252, 252, 255, 0.697);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 0px solid rgba(252, 252, 255, 0.697);
    top: 110px;
    left: 93px;
}

.cha span:hover .balloon{
    display: block;
} 

.balloon b{
    font-size: 1.5rem;
    text-align: center;
    color: yellow;
    text-shadow: 1px 0 #000,-1px 0 #000,0 1px #000,0  -1px  #000;
}