@charset "utf-8";

/* 공통사용 외부CSS 파일합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 구현중 외곽선 표시 */
body *{

    border: 1px dashed gray;
}

.main_cont{
    /* background : 색이반고윙/크 */
    background: url(../images/배경.jpg) no-repeat scroll top/100%;
    /* padding: 100px; */
    /* height: 100vh; */
}


/* 2-1. 캐릭터 */

#cha_box{
    width: 100%;
    margin-top: 30%;
}


.cha{
    float: left;
    text-align: center;
    /* vertical-align: bottom; */
    width: 30%;
    
}
#cha_box::after {
    content: "";
    display: block;
    clear: both;
  }

.cha1>a>img{
    width: 50%;
}
.cha2 >a >img{
    width:32%;
}
.cha3>a>img{
    width: 70%;
    /* padding-top:26%; */
}
.cha img{
    vertical-align: bottom;
}
